body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #ddd;
  background: #333;
  border-top: 5px solid #fc0;
  box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

header {
  padding: 40px 0 20px;
}

header h1 {
  font-size: 72px;
  font-weight: normal;
  margin: 0;
  display: inline-block;
  font-family: Yesteryear;
  text-transform: lowercase;
  padding-left: 16px;
  background: url(../img/tube.png) 100% 50% no-repeat;
  padding-right: 50px;
}

header h1 a {
  color: #fff;
}

nav {
  display: inline-block;
  position: relative;
  top: -7px;
  margin-left: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav li a {
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  padding: 0.5em 1em;
  text-shadow: none;
  text-transform: uppercase;
}

nav li a:hover {
  background: #222;
}

nav li.current a {
  background: #fc0;
  color: #222;
}

a {
  color: #fc0;
  text-decoration: none;
}

.clear {
  clear: both;
}

.intro p {
  font-size: 3em;
  line-height: 1em;
  margin: -.2em 0 .2em;
}

.content {
  margin: 0;
  padding: 15px;
}