<div class="grid2">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Basic Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage</a>
      </li>
      <li class="{% if page.title == "Directory structure" %}current{% endif %}">
        <a href="{{ site.url }}/docs/structure">Directory structure</a>
      </li>
      <li class="{% if page.title == "Configuration" %}current{% endif %}">
        <a href="{{ site.url }}/docs/configuration">Configuration</a>
      </li>
    </ul>
    <h4>Your Content</h4>
    <ul>
      <li class="{% if page.title == "Front-matter" %}current{% endif %}">
        <a href="{{ site.url }}/docs/frontmatter">Front-matter</a>
      </li>
      <li class="{% if page.title == "Writing posts" %}current{% endif %}">
        <a href="{{ site.url }}/docs/posts">Writing posts</a>
      </li>
      <li class="{% if page.title == "Creating pages" %}current{% endif %}">
        <a href="{{ site.url }}/docs/pages">Creating pages</a>
      </li>
      <li class="{% if page.title == "Variables" %}current{% endif %}">
        <a href="{{ site.url }}/docs/variables">Variables</a>
      </li>
      <li class="{% if page.title == "Blog migrations" %}current{% endif %}">
        <a href="{{ site.url }}/docs/migrations">Blog migrations</a>
      </li>
    </ul>
    <h4>Customization</h4>
    <ul>
      <li class="{% if page.title == "Templates" %}current{% endif %}">
        <a href="{{ site.url }}/docs/templates">Templates</a>
      </li>
      <li class="{% if page.title == "Permalinks" %}current{% endif %}">
        <a href="{{ site.url }}/docs/permalinks">Permalinks</a>
      </li>
      <li class="{% if page.title == "Pagination" %}current{% endif %}">
        <a href="{{ site.url }}/docs/pagination">Pagination</a>
      </li>
      <li class="{% if page.title == "Plugins" %}current{% endif %}">
        <a href="{{ site.url }}/docs/plugins">Plugins</a>
      </li>
      <li class="{% if page.title == "Extras" %}current{% endif %}">
        <a href="{{ site.url }}/docs/extras">Extras</a>
      </li>
    </ul>
    <h4>Deployment</h4>
    <ul>
      <li class="{% if page.title == "GitHub Pages" %}current{% endif %}">
        <a href="{{ site.url }}/docs/github-pages">GitHub Pages</a>
      </li>
      <li class="{% if page.title == "Deployment methods" %}current{% endif %}">
        <a href="{{ site.url }}/docs/deployment-methods">Other methods</a>
      </li>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
      <li class="{% if page.title == "Contributing" %}current{% endif %}">
        <a href="{{ site.url }}/docs/contributing">Contributing</a>
      </li>
      <li class="{% if page.title == "Troubleshooting" %}current{% endif %}">
        <a href="{{ site.url }}/docs/troubleshooting">Troubleshooting</a>
      </li>
      <li class="{% if page.title == "Sites using Jekyll" %}current{% endif %}">
        <a href="{{ site.url }}/docs/sites">Sites using Jekyll</a>
      </li>
      <li class="{% if page.title == "Resources" %}current{% endif %}">
        <a href="{{ site.url }}/docs/resources">Resources</a>
      </li>
    </ul>
  </aside>
</div>
