<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>By <a href="http://tom.preston-werner.com">Tom Preston-Werner</a>, <a href="http://quaran.to/">Nick Quaranto</a>, and many more <a href="{{ site.repository }}/graphs/contributors">awesome&nbsp;contributors</a>.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="{{ site.url }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
