<article>
  <h2>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ post.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
    </span>
    <a href="https://github.com/{{ post.author }}" class="post-author">
      <img src="https://github.com/{{ post.author }}.png" class="avatar" alt="{{ post.author }}" width="24" height="24">
      {{ post.author }}
    </a>
  </div>
  <div class="post-content">
    {{ post.content }}
  </div>
</article>
