version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: weekly
    groups:
      rubygems:
        patterns:
        - '*'
