_site/

.sass-cache
.jekyll-metadata
.ruby-gemset
.ruby-version

Gemfile.lock

.analysis
.byebug_history
.DS_Store
*.gem
*.swp
*~

bin/
.bundle/
vendor/
node_modules/
gh-pages/

pkg/

coverage
test/dest
test/source/file_name.txt

tmp/*
