---
---

{% capture screen %}
/*                *\
 * $normalize.css *
\*                */
{% include css/normalize.css %}
/*                *\
 * $gridism.css   *
\*                */
{% include css/gridism.css %}
/*                *\
 * $style.css     *
\*                */
{% include css/style.css %}
/*                *\
 * $pygments.css  *
\*                */
{% include css/pygments.css %}
{% endcapture %}

{% if site.GH_ENV %}
  {{ screen | strip_newlines | remove: '  ' }}
{% else %}
  {{ screen }}
{% endif %}
