.highlight {
  .hll {
    background-color: #ffc;
  }

  /* Comment */
  .c {
    color: #87ceeb;
  }

  /* Error */
  .err {
    color: #fff;
  }

  /* Generic */
  .g {
    color: #fff;
  }

  /* Keyword */
  .k {
    color: #f0e68c;
  }

  /* Literal */
  .l {
    color: #fff;
  }

  /* Name */
  .n {
    color: #fff;
  }

  /* Operator */
  .o {
    color: #fff;
  }

  /* Other */
  .x {
    color: #fff;
  }

  /* Punctuation */
  .p {
    color: #fff;
  }

  /* Comment.Multiline */
  .cm {
    color: #87ceeb;
  }

  /* Comment.Preproc */
  .cp {
    color: #cd5c5c;
  }

  /* Comment.Single */
  .c1 {
    color: #87ceeb;
  }

  /* Comment.Special */
  .cs {
    color: #87ceeb;
  }

  /* Generic.Deleted */
  .gd {
    font-weight: bold;
    color: #0000c0;
    background-color: #008080;
  }

  /* Generic.Emph */
  .ge {
    color: #c000c0;
    text-decoration: underline;
  }

  /* Generic.Error */
  .gr {
    font-weight: bold;
    color: #c0c0c0;
    background-color: #c00000;
  }

  /* Generic.Heading */
  .gh {
    color: #cd5c5c;
  }

  /* Generic.Inserted */
  .gi {
    color: #fff;
    background-color: #0000c0;
  }

  /* Generic.Output, qualified with span to prevent applying this style to the Go language, see #1153. */
  span.go {
    font-weight: bold;
    color: #add8e6;
    background-color: #4d4d4d;
  }

  /* Generic.Prompt */
  .gp {
    color: #fff;
  }

  /* Generic.Strong */

  .gs {
    color: #fff;
  }

  /* Generic.Subheading */
  .gu {
    color: #cd5c5c;
  }

  /* Generic.Traceback */
  .gt {
    font-weight: bold;
    color: #c0c0c0;
    background-color: #c00000;
  }

  /* Keyword.Constant */

  .kc {
    color: #f0e68c;
  }

  /* Keyword.Declaration */

  .kd {
    color: #f0e68c;
  }

  /* Keyword.Namespace */

  .kn {
    color: #f0e68c;
  }

  /* Keyword.Pseudo */

  .kp {
    color: #f0e68c;
  }

  /* Keyword.Reserved */

  .kr {
    color: #f0e68c;
  }

  /* Keyword.Type */

  .kt {
    color: #bdb76b;
  }

  /* Literal.Date */

  .ld {
    color: #fff;
  }

  /* Literal.Number */

  .m {
    color: #fff;
  }

  /* Literal.String */

  .s {
    color: #fff;
  }

  /* Name.Attribute */

  .na {
    color: #fff;
  }

  /* Name.Builtin */

  .nb {
    color: #fff;
  }

  /* Name.Class */

  .nc {
    color: #fff;
  }

  /* Name.Constant */

  .no {
    color: #ffa0a0;
  }

  /* Name.Decorator */

  .nd {
    color: #fff;
  }

  /* Name.Entity */

  .ni {
    color: #ffdead;
  }

  /* Name.Exception */

  .ne {
    color: #fff;
  }

  /* Name.Function */

  .nf {
    color: #fff;
  }

  /* Name.Label */

  .nl {
    color: #fff;
  }

  /* Name.Namespace */

  .nn {
    color: #fff;
  }

  /* Name.Other */

  .nx {
    color: #fff;
  }

  /* Name.Property */

  .py {
    color: #fff;
  }

  /* Name.Tag */

  .nt {
    color: #f0e68c;
  }

  /* Name.Variable */

  .nv {
    color: #98fb98;
  }

  /* Operator.Word */

  .ow {
    color: #fff;
  }

  /* Text.Whitespace */

  .w {
    color: #fff;
  }

  /* Literal.Number.Float */

  .mf {
    color: #fff;
  }

  /* Literal.Number.Hex */

  .mh {
    color: #fff;
  }

  /* Literal.Number.Integer */

  .mi {
    color: #fff;
  }

  /* Literal.Number.Oct */

  .mo {
    color: #fff;
  }

  /* Literal.String.Backtick */

  .sb {
    color: #fff;
  }

  /* Literal.String.Char */

  .sc {
    color: #fff;
  }

  /* Literal.String.Doc */

  .sd {
    color: #fff;
  }

  /* Literal.String.Double */

  .s2 {
    color: #fff;
  }

  /* Literal.String.Escape */

  .se {
    color: #fff;
  }

  /* Literal.String.Heredoc */

  .sh {
    color: #fff;
  }

  /* Literal.String.Interpol */

  .si {
    color: #fff;
  }

  /* Literal.String.Other */

  .sx {
    color: #fff;
  }

  /* Literal.String.Regex */

  .sr {
    color: #fff;
  }

  /* Literal.String.Single */

  .s1 {
    color: #fff;
  }

  /* Literal.String.Symbol */

  .ss {
    color: #fff;
  }

  /* Name.Builtin.Pseudo */

  .bp {
    color: #fff;
  }

  /* Name.Variable.Class */

  .vc {
    color: #98fb98;
  }

  /* Name.Variable.Global */

  .vg {
    color: #98fb98;
  }

  /* Name.Variable.Instance */
  .vi {
    color: #98fb98;
  }

  /* Literal.Number.Integer.Long */
  .il {
    color: #fff;
  }

  .bash .nv {
    user-select: none;
  }
}
