.highlight {
  .hll { background-color: #ffffcc }
  .err { color: #ce342c } /* Error */
  .c  { color: #818181 } /* Comment */
  .g  { color: #ffffff } /* Generic */
  .k  { color: #ff4287 } /* Keyword */
  .l  { color: #ffffff } /* Literal */
  .n  { color: #ffffff } /* Name */
  .o  { color: #ffffff } /* Operator */
  .x  { color: #ffffff } /* Other */
  .p  { color: #ffffff } /* Punctuation */
  .cm { color: #818181 } /* Comment.Multiline */
  .cp { color: #d1c2f4 } /* Comment.Preproc */
  .c1 { color: #818181 } /* Comment.Single */
  .cs { color: #818181 } /* Comment.Special */
  .gd { color: #ce342c } /* Generic.Deleted */
  .ge { color: #c000c0; text-decoration: underline } /* Generic.Emph */
  .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
  .gh { color: #ffffff } /* Generic.Heading */
  .gi { color: #27b42c } /* Generic.Inserted */
  span.go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output, qualified with span to prevent applying this style to the Go language, see #1153. */
  .gp { color: #ffffff } /* Generic.Prompt */
  .gs { color: #ffffff } /* Generic.Strong */
  .gu { color: #ffffff } /* Generic.Subheading */
  .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
  .kc { color: #ff4287 } /* Keyword.Constant */
  .kd { color: #ff4287 } /* Keyword.Declaration */
  .kn { color: #ff4287 } /* Keyword.Namespace */
  .kp { color: #ff4287 } /* Keyword.Pseudo */
  .kr { color: #ff4287 } /* Keyword.Reserved */
  .kt { color: #bdb76b } /* Keyword.Type */
  .ld { color: #ffffff } /* Literal.Date */
  .m  { color: #ffffff } /* Literal.Number */
  .s  { color: #ffe580 } /* Literal.String */
  .na { color: #b6e382 } /* Name.Attribute */
  .nb { color: #ffffff } /* Name.Builtin */
  .nc { color: #b6e382 } /* Name.Class */
  .no { color: #87ceeb } /* Name.Constant */
  .nd { color: #ffffff } /* Name.Decorator */
  .ni { color: #ffdead } /* Name.Entity */
  .ne { color: #ffffff } /* Name.Exception */
  .nf { color: #ffffff } /* Name.Function */
  .nl { color: #ffffff } /* Name.Label */
  .nn { color: #ffffff } /* Name.Namespace */
  .nx { color: #ffffff } /* Name.Other */
  .py { color: #ffffff } /* Name.Property */
  .nt { color: #ff4287 } /* Name.Tag */
  .nv { color: #ffffff } /* Name.Variable */
  .ow { color: #ffffff } /* Operator.Word */
  .w  { color: #ffffff } /* Text.Whitespace */
  .mf { color: #ffffff } /* Literal.Number.Float */
  .mh { color: #ffffff } /* Literal.Number.Hex */
  .mi { color: #ffffff } /* Literal.Number.Integer */
  .mo { color: #ffffff } /* Literal.Number.Oct */
  .sb { color: #ffffff } /* Literal.String.Backtick */
  .sc { color: #ffffff } /* Literal.String.Char */
  .sd { color: #ffffff } /* Literal.String.Doc */
  .s2 { color: #ffe580 } /* Literal.String.Double */
  .se { color: #ffffff } /* Literal.String.Escape */
  .sh { color: #ffffff } /* Literal.String.Heredoc */
  .si { color: #ffffff } /* Literal.String.Interpol */
  .sx { color: #ffffff } /* Literal.String.Other */
  .sr { color: #ffffff } /* Literal.String.Regex */
  .s1 { color: #ffe580 } /* Literal.String.Single */
  .ss { color: #a47bea } /* Literal.String.Symbol */
  .bp { color: #ffffff } /* Name.Builtin.Pseudo */
  .vc { color: #98fb98 } /* Name.Variable.Class */
  .vg { color: #98fb98 } /* Name.Variable.Global */
  .vi { color: #ffffff } /* Name.Variable.Instance */
  .il { color: #ffffff } /* Literal.Number.Integer.Long */
  .bash .nv {
    user-select: none;
  }
}

.language-liquid {
  .highlight {
    .p  { color: #87ceeb }
    .kr { color: #87ceeb }
    .nf { color: #b899ff }
    .nt { color: #87ceeb }
    .nv { color: #b6e382 }
  }
}

.language-sh .highlight * { color: #eaeaea }
