.columns {
  display: flex;

  .column {
    flex: 1;
  }
}

.imageWrapper {
  width: 100%;
  height: 0;
  padding-bottom: 62.623762376237624%; /* You define this doing height / width * 100% */
  position: relative;
  background: #717171;
  display: block;

  img {
    width: 100%;
    position: absolute;
    opacity: 0;
  }
  img.b-loaded {
    opacity: .9;
    transition: all ease .5s;
  }
}

.center-text {
  text-align: center;
}

.version-badge {
  margin-left: .25em;
  padding: 0.2em;
  font-size: .75em;
  font-weight: 400;
  background-color: #fc0;
  color: #222;
  text-shadow: none;
  vertical-align: middle;
  border-radius: 3.75px;
}

.mobile-side-scroller {
  overflow-x: scroll;
  padding: 0 1px;
}

.text-image {
  display: flex;

  @media screen and (max-width: $break-small) {
    display: block;
  }

  .image {
    flex-shrink: 1;
  }

  .text {
    flex: 1;
  }
}

.header-link {
  position: relative;
  left: 0.3em;
  opacity: 0;
  font-size: 0.8em;
  transition: opacity ease 0.2s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
