name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs: 

  build:

    runs-on: ubuntu-latest
    if: github.repository_owner == 'jekyll'

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
         
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: jekyll/jekyll